
.svg-holder-multi {
  font: 10px sans-serif;
  background:white;
}

.svg-holder-multi .axis {
	font: 10px sans-serif;
}

.svg-holder-multi .axis path,
.svg-holder-multi .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.svg-holder-multi .axis path {
	stroke: #ccc;
}

.svg-holder-multi .tick line {
	stroke: #ccc;
}


/*.x.axis path {
  display: none;
}*/

.svg-holder-multi .line {
  fill: none;
  stroke: orange;
  stroke-width: 1.5px;
}

.svg-holder-multi .pointy {
  fill: orange;
  stroke: orange;
  stroke-width: 3.5px;
}


.palette {
  height: 30px;
  margin-bottom: 10px;
}
.palette .colour {
  float: left;
  height: 30px;
  width: 30px;
  border: 1px solid #000;
  margin-left: -1px;
}
.palette button {
  margin-left: 10px;
}
