---
page_title: Homepage
---
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <title>The Open Health Data Platform</title>
    
    <meta name="robots" content="index,follow"/>
    <meta name="description" content="the open health data platform has been developed to stimulate data science innovation"/> 
    <meta name="keywords" content="health data, digital catapult, diabetes, data, analytics, health, research, antibiotics"/>
    <meta name="author" content="Digital Catapult"/>
    
    {% include head_assets.html %}
  </head>
  
  <body>
    <div id="wrap">
      {% include navigation.html %}
      
      <div class="page-content">
      <div class="block homepage-challenge-block">
        <div class="container">
          <h1>
            <span class="dotted-line"></span>
            The
            <span class="highlight"><span class="topleft"><span class="topright"><span class="bottomleft"><span class="bottomright"><span class="inner">Open</span></span></span></span></span></span>
            Health
            <span class="dotted-line"></span>
            Data Challenge
            <span class="dotted-line"></span>
          </h1>
          
          <h2>
            We're challenging technologists, analysts, visualisers and businesses to show the world what can be done with open health data
          </h2>
          
          <div class="row homepage-boxes">
            <a class="col-sm-4 homepage-box" href="/howto/">
              <div class="inner">
                <div class="icon lightbulb"></div>
                
                <h3>How Tos &amp; Case Studies</h3>
                
                <p>
                  Find shining examples, case studies and how tos of current and recently finished projects using the Open Health Data Platform.
                </p>
              </div>
            </a>
            
            <a class="col-sm-4 homepage-box" href="/resources/">
              <div class="inner">
                <div class="icon chart"></div>
                
                <h3>Resources</h3>
                
                <p>
                  Dive straight into the action. Get your hands on the raw data to develop with or find useful tools to help visualise data.
                </p>
              </div>
            </a>
            
            <a class="col-sm-4 homepage-box" href="/getinvolved/">
              <div class="inner">
                <div class="icon chat"></div>
                
                <h3>Get Involved</h3>
                
                <p>
                  Join our growing community of developers, analysts, visualisers, and businesses with our email newlist.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="block homepage-whowhathow-block">
        <div class="container">
          <h2>Who, what, how?</h2>
          
          <div class="row whowhathow">
            <div class="col-sm-4 column who">
              <h3>Who?</h3>
              <p>
                The Digital Catapult Open Health Data Platform has been developed by the <a href="https://cde.catapult.org.uk/" title="">Connected Digital Economy Catapult</a> and <a href="http://www.mastodonc.com/" title="">Mastodon C</a> to stimulate data science innovation in the UK.
              </p>
            </div>
            
            <div class="col-sm-4 column what">
              <h3>What?</h3>
              
              <p>
                We want to show how you can use linked open health data in new and exciting ways - with worked examples and demonstrations of what is possible - as well as giving you easy access to the raw data.
              </p>
            </div>
            
            <div class="col-sm-4 column how">
              <h3>How?</h3>
              
              <p>
                Dive into the <a href="/howto" title="">How To's</a> section to see some worked examples. Have a look at the <a href="/resources" title="">resources</a> on the site for an idea of what you can do to get started, or <a href="https://plus.google.com/communities/112258921291235279573">join us on Google+</a> to meet other innovators working with this data.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="block homepage-latest-block">
        <div class="container">
          <h2>Latest</h2>
          
          <div class="row latest">
            <div class="col-sm-4 column twitter">
              <h3>
                Twitter Stream
                <img class="latest-social-icon twitter" src="/assets/images/twitter-stream.png" alt="">
              </h3>
              
              <div class="twitter-inner">
                <a class="twitter-timeline" data-dnt="true" data-chrome="nofooter transparent noborders noscrollbar noheader" href="https://twitter.com/cdecatapult" data-tweet-limit="3" data-widget-id="421301564662231040">Tweets by @cdecatapult</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </div>
            </div>
            
            <div class="col-sm-4 column next-event">
              <h3>
                Next Event
                <img class="latest-social-icon lanyrd" src="/assets/images/next-event.png" alt="">
              </h3>
              
              <div class="lanyrd-inner">
                <div class="lanyrd-target-splat"><a href="http://lanyrd.com/profile/cdecatapult/" class="lanyrd-splat lanyrd-type-all" rel="me">See upcoming conferences on Lanyrd</a></div>
                <script src="http://cdn.lanyrd.net/badges/person-v1.min.js"></script>
              </div>
            </div>
            
            <div class="col-sm-4 column github-activity">
              <h3>
                Github Activity
                <img class="latest-social-icon github" src="/assets/images/github-activity.png" alt="">
              </h3>
              
              <ul id="github-activity"></ul>
            </div>
          </div>
        </div>
      </div>
      
      {% include github_handlebars.hbs %}
      </div>
    </div>
    
    {% include footer.html %}
  </body>
</html>
