---
layout: text-page
show_about: false
show_contact: false
title: Sitemap - Open Health Data Platform
page_title: Sitemap
---

<ul>
  {% for page in site.pages %}
    {% if page.url != "/howto/template.html" and page.howto != true and page.resource_subitem != true %}
      <li>
        <a href="{{ page.url }}">{{ page.page_title }}</a>
        
        {% if page.url == "/howto/index.html" %}
          <ul>
            {% for howto in page.casestudies %}
              <li>
                <a href="{{ howto.url }}">
                  {{ howto.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        
        {% if page.url == "/resources/index.html" %}
          <ul>
            {% for subpage in site.pages %}
              {% if subpage.resource_subitem == true %}
                <li>
                  <a href="{{ subpage.url }}">
                    {{ subpage.page_title }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
