
/* Border & background */

.svg-holder-stacked {
	font: 10px sans-serif;
	background:white;
}


/* Axes */

.svg-holder-stacked .axis path,
.svg-holder-stacked .axis line {
	fill: none;
	stroke: #ccc;
	shape-rendering: crispEdges;
}

.svg-holder-stacked .x.axis .tick line {
	display:none;
}


/* Bars */

.svg-holder-stacked .bar {
	fill: #79c36a;
}


/* Labels */

.svg-holder-stacked .label {
	font-size:14px;
	font-weight:normal;
	fill:#999;
	stroke:none;
}