
.svg-holder-stacked {
	font: 10px sans-serif;
	background:white;
}

.svg-holder-stacked .axis path,
.svg-holder-stacked .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.svg-holder-stacked .bar {
	fill: #79c36a;
}

.svg-holder-stacked .axis path {
	stroke: #ccc;
}

.svg-holder-stacked .tick line {
	stroke: #ccc;
}

.svg-holder-stacked .x.axis .tick line {
	display:none;
}