<ul class="api-nav">
  <li {% if page.url == "/api/index.html" || page.url == "/api/" %}class="active"{% endif %}>
    <a href="/api/index.html">Introduction</a>
  </li>
  
  <li {% if page.url == "/api/authentication.html" %}class="active"{% endif %}>
    <a href="/api/authentication.html">Authentication</a>
  </li>
  
  <li {% if page.url == "/api/errors.html" %}class="active"{% endif %}>
    <a href="/api/errors.html">Errors</a>
  </li>
  
  <li {% if page.url == "/api/versioning.html" %}class="active"{% endif %}>
    <a href="/api/versioning.html">Versioning</a>
  </li>
  
  <li {% if page.url == "/api/rights-of-use.html" %}class="active"{% endif %}>
    <a href="/api/rights-of-use.html">Rights of Use</a>
  </li>
</ul>

<h4>API Endpoints</h4>
<ul class="api-nav">
  <li {% if page.url == "/api/clinical-commissioning-groups.html" %}class="active"{% endif %}>
    <a href="/api/clinical-commissioning-groups.html">Clinical Commissioning Groups</a>
  </li>
  
  <li {% if page.url == "/api/gp-surgeries.html" %}class="active"{% endif %}>
    <a href="/api/gp-surgeries.html">GP Surgeries</a>
  </li>
  
  <li {% if page.url == "/api/patients.html" %}class="active"{% endif %}>
    <a href="/api/patients.html">Patients</a>
  </li>
  
  <li {% if page.url == "/api/trusts.html" %}class="active"{% endif %}>
    <a href="/api/trusts.html">Trusts</a>
  </li>
  
  <li {% if page.url == "/api/council-boundaries.html" %}class="active"{% endif %}>
    <a href="/api/council-boundaries.html">Council Boundaries</a>
  </li>
  
  <li {% if page.url == "/api/ethnicities.html" %}class="active"{% endif %}>
    <a href="/api/ethnicities.html">Ethnicities</a>
  </li>
  
  <li {% if page.url == "/api/medical-conditions.html" %}class="active"{% endif %}>
    <a href="/api/medical-conditions.html">Medical Conditions</a>
  </li>
  
  <li {% if page.url == "/api/drug-names.html" %}class="active"{% endif %}>
    <a href="/api/drug-names.html">Drug Names</a>
  </li>
  
  <li {% if page.url == "/api/drug-classes.html" %}class="active"{% endif %}>
    <a href="/api/drug-classes.html">Drug Classes</a>
  </li>
</ul>
