<div id="footer">
  <div id="footer-gradient"></div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-5 social-links">
        <a href="https://twitter.com/CDECatapult"><img class="circle" src="/assets/images/twitter.png" alt=""></a>
        
        <a href="https://plus.google.com/104541840770998754028/about"><img class="circle" src="/assets/images/googleplus.png" alt=""></a>
        
        <a href="https://github.com/CDECatapult/"><img class="circle" src="/assets/images/github.png" alt=""></a>
        
        <a href="https://cde.catapult.org.uk"><img class="catapult" src="/assets/images/catapult.png" alt=""></a>
      </div>
      
      <div class="col-sm-7">
        <ul class="nav navbar-nav navbar-right footer-nav">
          <li>
            <a href="/press-and-media.html">Press &amp; Media</a>
          </li>
          
          <li>
            <a href="/terms.html">Terms</a>
          </li>
          
          <li>
            <a href="/privacy.html">Privacy</a>
          </li>
          
          <li>
            <a href="/sitemap.html">Sitemap</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
