@gradient_height: 74px;
@footer_height: 100px + @gradient_height;

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -(@footer_height - @gradient_height);
  /* Pad bottom by footer height */
  padding: 0 0 (@footer_height - @gradient_height);
}

/* Set the fixed height of the footer here */
#footer {
  height: @footer_height - @gradient_height;
  background-color: #fff;
  
  .container {
    padding: 25px 0 0 0;
    
    a {
      margin-right: 5px;
    }
  }
}

html.showfooter {
  /* Wrapper for page content to push down footer */
  #wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -@footer_height;
    /* Pad bottom by footer height */
    padding: 0 0 @footer_height;
  }

  /* Set the fixed height of the footer here */
  #footer {
    height: @footer_height;
    background-color: #fff;
    
    .container {
      padding: 25px 0 0 0;
      
      a {
        margin-right: 5px;
      }
    }
  }
  
  #footer-gradient {
    background: url(/assets/images/grad-bottom.png) bottom center repeat-x;
    height: 74px;
  }
}

#footer {
  ul.nav.navbar-nav.navbar-right {
    li {
      a {
        color: @orange_red;
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 0px) {
  #footer {
    .social-links {
      text-align: center;
    }
    
    .footer-nav {
      margin-bottom: 0;
      
      li {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #ccc;
        
        &:first-child {
          margin-top: 30px;
          border-top: 1px solid #ccc;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #footer {
    .social-links {
      text-align: left;
    }
    
    .footer-nav {
      li {
        width: auto;
        border: 0;
        
        &:first-child {
          margin-top: 0;
          border-top: 0;
        }
        
        a {
          &:hover {
            background: transparent;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
