.font-dosis {
  font-family: 'Dosis', sans-serif;
  // -webkit-font-smoothing: antialiased;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.font-sourcesans {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  .font-sourcesans();
  background: #fff;
}
