.useful-links {
  background: #f8e29f;
  padding: 20px 0 40px 0;
  
  h2 {
    .font-montserrat();
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: @orange;
    text-shadow: 4px 4px #f0c98b;
    margin-bottom: 20px;
    font-size: 45px;
  }
  
  .useful-link-cols {
    .useful-link-col {
      h3 {
        .font-montserrat();
        font-weight: bold;
        font-size: 22px;
        margin-top: 0;
      }
      
      ul {
        padding: 0;
        
        li {
          list-style: none;
          font-size: 18px;
          color: @orange;
          
          a {
            color: @orange;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .useful-links {
    .useful-link-cols .useful-link-col {
      text-align: center;
    }
    
    ul li {
      text-align: center;
      
      .plus {
        display: none;
      }
    }
  }
}
