
.svg-holder-simple-bad {
	border:1px solid black;
	background:white;
}

.svg-holder-simple-bad .bar {
	fill: blue;
}

.svg-holder-simple-bad .bar:hover {
	fill: yellow;
}

.svg-holder-simple-bad .axis {
	font: 10px sans-serif;
}

.svg-holder-simple-bad .axis path,
.svg-holder-simple-bad .axis line {
	fill: none;
	stroke: #000;
	stroke-width: 2;
	shape-rendering: crispEdges;
}

/*		.x.axis path {
	display: none;
}*/

.svg-holder-simple-bad .grid .tick {
	stroke: lightgrey;
	
}
.svg-holder-simple-bad .grid path {
	stroke-width: 0;
}
