.block.homepage-latest-block {
  background: #f8e29f;
  // border-left: 9px solid #e6d294;
  padding-bottom: 40px;
  
  h2 {
    .font-montserrat();
    text-align: center;
    text-transform: uppercase;
    color: @orange;
    text-shadow: 4px 4px 0 #f4cd8e;
    margin: 40px 0 0 0;
    font-size: 40px;
  }
  
  h3 {
    .font-dosis();
    font-size: 36px;
    font-weight: 200;
  }
  
  .twitter-inner, .lanyrd-inner {
    background: #faecbf;
    height: 300px;
    overflow: auto;
    padding: 10px;
  }
}
