@import "vendor/bootstrap.min.css";
.font-dosis {
  font-family: 'Dosis', sans-serif;
}
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.font-sourcesans {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #fff;
}
html.showheader .page-content {
  background: url(/assets/images/grad-top.png) repeat-x #ffffff;
  min-height: 100px;
}
p.lead {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 700px) {
  p.lead {
    text-align: center;
  }
}
nav.navbar.navbar-default {
  margin: 0;
  background: #fff;
  border: 0;
  border-radius: 0;
}
nav.navbar.navbar-default .nav.navbar-nav.navbar-right li a {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #e15c48;
  padding-top: 22px;
  font-size: 13px;
  text-decoration: underline;
}
nav.navbar.navbar-default .nav.navbar-nav.navbar-right li a:hover {
  color: #a82e1b;
  text-decoration: none;
}
nav.navbar.navbar-default .navbar-brand {
  width: 200px;
  padding: 8px 0 0 10px;
}
nav.navbar.navbar-default .navbar-brand img {
  width: 100%;
}
@media (min-width: 768px) {
  .navbar-brand {
    width: 250px !important;
    margin-top: 0px;
  }
  nav.navbar.navbar-default .nav.navbar-nav.navbar-right li a {
    font-size: 12px;
    padding-top: 19px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 992px) {
  .navbar-brand {
    width: 364px !important;
    margin-top: -5px;
  }
  nav.navbar.navbar-default .nav.navbar-nav.navbar-right li a {
    font-size: 14px;
    padding-top: 24px;
  }
}
@media (min-width: 1200px) {
  .navbar-brand {
    width: 364px !important;
    margin-top: -5px;
  }
  nav.navbar.navbar-default .nav.navbar-nav.navbar-right li a {
    font-size: 16px;
  }
}
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -100px;
  /* Pad bottom by footer height */
  padding: 0 0 100px;
}
/* Set the fixed height of the footer here */
#footer {
  height: 100px;
  background-color: #fff;
}
#footer .container {
  padding: 25px 0 0 0;
}
#footer .container a {
  margin-right: 5px;
}
html.showfooter {
  /* Wrapper for page content to push down footer */
  /* Set the fixed height of the footer here */
}
html.showfooter #wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -174px;
  /* Pad bottom by footer height */
  padding: 0 0 174px;
}
html.showfooter #footer {
  height: 174px;
  background-color: #fff;
}
html.showfooter #footer .container {
  padding: 25px 0 0 0;
}
html.showfooter #footer .container a {
  margin-right: 5px;
}
html.showfooter #footer-gradient {
  background: url(/assets/images/grad-bottom.png) bottom center repeat-x;
  height: 74px;
}
#footer ul.nav.navbar-nav.navbar-right li a {
  color: #e05c48;
  font-size: 16px;
}
@media (min-width: 0px) {
  #footer .social-links {
    text-align: center;
  }
  #footer .row,
  #footer .col-sm-7 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  #footer .footer-nav {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  #footer .footer-nav li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  #footer .footer-nav li:first-child {
    margin-top: 30px;
    border-top: 1px solid #ccc;
  }
}
@media (min-width: 768px) {
  #footer .social-links {
    text-align: left;
  }
  #footer .footer-nav li {
    width: auto;
    border: 0;
  }
  #footer .footer-nav li:first-child {
    margin-top: 0;
    border-top: 0;
  }
  #footer .footer-nav li a:hover {
    background: transparent;
    text-decoration: underline;
  }
}
.useful-links {
  background: #f8e29f;
  padding: 20px 0 40px 0;
}
.useful-links h2 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #e05c48;
  text-shadow: 4px 4px #f0c98b;
  margin-bottom: 20px;
  font-size: 45px;
}
.useful-links .useful-link-cols .useful-link-col h3 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-size: 22px;
  margin-top: 0;
}
.useful-links .useful-link-cols .useful-link-col ul {
  padding: 0;
}
.useful-links .useful-link-cols .useful-link-col ul li {
  list-style: none;
  font-size: 18px;
  color: #e05c48;
}
.useful-links .useful-link-cols .useful-link-col ul li a {
  color: #e05c48;
  text-decoration: underline;
}
.subpage-layout {
  min-height: 148px;
}
.subpage-layout .title {
  text-align: center;
  padding: 50px 0 20px 0;
}
.subpage-layout .title h1 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  display: block;
  color: #076d7c;
  text-transform: uppercase;
  font-size: 25px;
  margin: 30px 0 10px 0;
}
.subpage-layout .subpage-boxes {
  padding-top: 30px;
}
.subpage-layout .subpage-boxes .box {
  padding: 15px;
}
.subpage-layout .subpage-boxes .box .inner {
  display: block;
  min-height: 220px;
  background: #ccc;
}
.subpage-layout .subpage-boxes .box .inner:hover {
  text-decoration: none;
}
.subpage-layout .subpage-boxes .box .inner p {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-size: 16px;
  width: 70%;
  margin: 0 auto 15px auto;
  color: #2a2a2a;
}
.subpage-layout .subpage-boxes .box .inner p.resource-text {
  width: 95%;
  font-size: 16px;
}
.subpage-layout .subpage-boxes .box .inner a.btn.btn-default {
  border: 0;
  border-radius: 0;
  padding: 10px 20px;
  width: 60%;
  margin: 5px auto 10px;
  display: block;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.subpage-layout .subpage-boxes .box .inner a.link {
  display: block;
  text-align: center;
  color: #eedfaf;
  text-decoration: underline;
  padding: 5px 0 15px 0;
  font-size: 12px;
}
.subpage-layout .subpage-boxes .box .inner a.link:hover {
  text-decoration: none;
}
.subpage-layout .subpage-boxes .box.google-groups .inner {
  background: #399e85;
  box-shadow: 5px 5px #e1f1ed;
}
.subpage-layout .subpage-boxes .box.google-groups .inner p {
  color: #fff;
}
.subpage-layout .subpage-boxes .box.google-groups .inner .image {
  background: url(/assets/images/getinvolved-googlegroups.png) center center no-repeat;
  height: 38px;
  padding: 20px 0 50px 0;
}
.subpage-layout .subpage-boxes .box.google-groups .inner a.btn.btn-default {
  background: #f0c84b;
  color: #399e85;
  box-shadow: 5px 5px 0 #5daf9b;
}
.subpage-layout .subpage-boxes .box.google-plus .inner {
  background: #f8e29f;
  box-shadow: 5px 5px #fae7e4;
}
.subpage-layout .subpage-boxes .box.google-plus .inner .image {
  background: url(/assets/images/getinvolved-googleplus.png) center center no-repeat;
  height: 35px;
  padding: 20px 0 50px 0;
}
.subpage-layout .subpage-boxes .box.google-plus .inner a.btn.btn-default {
  background: #e05c4a;
  color: #fff;
  box-shadow: 5px 5px 0 #f0b381;
}
.subpage-layout .subpage-boxes .box.twitter .inner {
  background: #65bbc8;
  box-shadow: 5px 5px #e8f5f7;
}
.subpage-layout .subpage-boxes .box.twitter .inner .image {
  background: url(/assets/images/getinvolved-twitter.png) center center no-repeat;
  height: 67px;
  position: relative;
  top: -20px;
}
.subpage-layout .subpage-boxes .box.twitter .inner a.btn.btn-default {
  background: #308592;
  color: #fff;
  box-shadow: 5px 5px 0 #5bb1be;
}
.subpage-layout .subpage-boxes .box.resources .inner {
  background: #e15b49;
  box-shadow: 5px 5px #f9dedb;
}
.subpage-layout .subpage-boxes .box.resources .inner .image {
  background: url(/assets/images/circle-graph.png) center center no-repeat;
  height: 90px;
  position: relative;
  top: -20px;
}
.subpage-layout .subpage-boxes .box.resources .inner h3 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin-top: -5px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  color: #334e5c;
}
.subpage-layout .subpage-boxes .box.resources .inner a.btn.btn-default {
  background: #308592;
  color: #fff;
  box-shadow: 5px 5px 0 #5bb1be;
}
.subpage-layout .subpage-boxes .box.raw-data .inner {
  background: #f0c84b;
  box-shadow: 5px 5px #fcf4db;
}
.subpage-layout .subpage-boxes .box.raw-data .inner .image {
  background: url(/assets/images/circle-script.png) center center no-repeat;
  height: 90px;
  position: relative;
  top: -20px;
}
.subpage-layout .subpage-boxes .box.raw-data .inner h3 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin-top: -5px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  color: #334e5c;
}
.subpage-layout .subpage-boxes .box.raw-data .inner a.btn.btn-default {
  background: #308592;
  color: #fff;
  box-shadow: 5px 5px 0 #5bb1be;
}
.subpage-layout .subpage-boxes .box.api .inner {
  background: #6b9bb3;
  box-shadow: 5px 5px #e1ebf0;
}
.subpage-layout .subpage-boxes .box.api .inner .image {
  background: url(/assets/images/circle-browser.png) center center no-repeat;
  height: 90px;
  position: relative;
  top: -20px;
}
.subpage-layout .subpage-boxes .box.api .inner h3 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin-top: -5px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  color: #334e5c;
}
.subpage-layout .subpage-boxes .box.api .inner a.btn.btn-default {
  background: #308592;
  color: #fff;
  box-shadow: 5px 5px 0 #5bb1be;
}
.subpage-layout .contact-the-team h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}
.subpage-layout .contact-the-team p {
  font-size: 16px;
}
.subpage-layout .contact-the-team p.email {
  font-size: 15px;
  font-weight: bold;
  word-wrap: break-word;
}
.subpage-layout .contact-the-team p.email a {
  color: #e05c4a;
}
@media (min-width: 700px) {
  .subpage-layout .title {
    text-align: left;
  }
  .subpage-layout .title .icon {
    float: left;
  }
  .subpage-layout .title h1 {
    float: left;
    margin: 25px 0 0 20px;
  }
  .subpage-layout .contact-the-team p.email {
    font-size: 22px;
  }
}
.text-page-template h2 {
  font-family: 'Dosis', sans-serif;
  color: #3e9e89;
  text-align: left;
  font-size: 42px;
  margin-top: 0px;
}
.text-page-template h3 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 40px 0 10px 0;
  color: #076d7c;
  font-size: 24px;
  text-transform: uppercase;
}
.text-page-template p {
  font-size: 18px;
  margin-bottom: 20px;
}
.text-page-template p a {
  color: #e05c48;
  text-decoration: underline;
}
.text-page-template p.lead {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
}
.text-page-template ul li {
  font-size: 18px;
}
.how-to .logo {
  float: right;
  margin-top: -100px;
  background: #fff;
  padding: 10px;
  box-shadow: 4px 4px 0 #ddeaf2;
}
.how-to h2 {
  font-family: 'Dosis', sans-serif;
  text-align: left;
  font-size: 35px;
  color: #3e9e89;
}
.how-to .intro-text {
  padding: 25px 0 60px 0;
}
.how-to .intro-text .intro-column {
  padding-bottom: 30px;
}
.how-to .intro-text .intro-column h3 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  text-transform: uppercase;
}
.how-to .intro-text .intro-column.the-challenge h3,
.how-to .intro-text .intro-column.bold-intro-text h3 {
  color: #df5c48;
}
.how-to .intro-text .intro-column.the-challenge p,
.how-to .intro-text .intro-column.bold-intro-text p {
  font-weight: bold;
  font-size: 22px;
}
.how-to .intro-text .intro-column.the-solution h3 {
  color: #3e9e89;
}
.how-to .intro-text .intro-column.the-solution p {
  font-size: 18px;
}
.how-to .tutorial {
  background: #3e9e89;
  min-height: 400px;
  padding: 20px 0 50px 0;
}
.how-to .tutorial h2 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-weight: bold;
  color: #ecfdff;
  text-shadow: 4px 4px 0 #51a58c;
  padding: 0 0 0 30px;
}
.how-to .tutorial h3 {
  font-family: 'Dosis', sans-serif;
  color: #ecfdff;
  padding: 0 0 30px 30px;
  font-weight: bold;
}
.how-to .tutorial .howto-links {
  padding: 0;
}
.how-to .tutorial .howto-links li {
  list-style: none;
  padding: 10px;
}
.how-to .tutorial .howto-links li a {
  display: block;
  min-height: 42px;
  border-bottom: 2px solid #2b6e60;
  background-color: #e05c48;
  /* Old browsers */
  background-color: -moz-linear-gradient(top, #e05c48 0%, #d6503e 100%);
  /* FF3.6+ */
  background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e05c48), color-stop(100%, #d6503e));
  /* Chrome,Safari4+ */
  background-color: -webkit-linear-gradient(top, #e05c48 0%, #d6503e 100%);
  /* Chrome10+,Safari5.1+ */
  background-color: -o-linear-gradient(top, #e05c48 0%, #d6503e 100%);
  /* Opera 11.10+ */
  background-color: -ms-linear-gradient(top, #e05c48 0%, #d6503e 100%);
  /* IE10+ */
  background-color: linear-gradient(to bottom, #e05c48 0%, #d6503e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e05c48', endColorstr='#d6503e', GradientType=0);
  /* IE6-9 */
  background-repeat: no-repeat;
  background-position: 5px center;
  color: #fff;
  padding: 8px 5px 5px 50px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
}
.how-to .tutorial .howto-links li.gethelp a {
  background-image: url('/assets/images/globe.png');
}
.how-to .tutorial .howto-links li.tutorial-files a {
  background-image: url('/assets/images/package.png');
}
.how-to .tutorial .howto-links li.live-example a {
  background-image: url('/assets/images/magnifying-glass.png');
}
.how-to .tutorial .howto-links li.github a {
  background-color: transparent;
  border-bottom: 0;
  background-image: url('/assets/images/github-download.png');
  background-position: center left;
}
.how-to .tutorial .step {
  background: #fff;
  min-height: 300px;
  padding: 30px;
}
.how-to .tutorial .step:nth-child(even) {
  background: #ecfdff !important;
}
.how-to .tutorial .step:nth-child(odd) {
  background: #c3e6ec !important;
}
.how-to .tutorial .step .step-circle {
  border-radius: 100%;
  background: #e05c49;
  height: 80px;
  width: 80px;
  text-align: center;
  padding: 5px 0 0 0;
  font-size: 50px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  position: relative;
  top: -50px;
  z-index: 100;
}
.how-to .tutorial .step .step-content {
  font-size: 18px;
  padding: 0 40px 30px 40px;
  margin-top: -40px;
}
.how-to .tutorial .step .step-content h4 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  color: #3e9e89;
  font-size: 20px;
}
.how-to .tutorial .step .step-content p.lead {
  font-weight: bold;
}
.how-to .tutorial .step .step-content a.btn.btn-default {
  background: #3e9e89;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  border: 0;
  border-radius: 0;
  margin-top: 10px;
  box-shadow: 4px 4px #307969;
}
.how-to .tutorial .step .step-content a.btn.btn-default .subtext {
  color: #d4f3ec;
  text-transform: uppercase;
  display: block;
  text-align: left;
}
.how-to .tutorial .step .step-content a.btn.btn-default .text {
  display: block;
  text-align: left;
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}
.how-to .tutorial .step .step-content pre,
.how-to .tutorial .step .step-content code {
  border: 0;
  display: block;
  background: #fff;
  border-radius: 0;
  height: 270px;
  overflow: auto;
  box-shadow: 4px 4px 0 #a9d3e0;
}
.how-to .join-collaborate .text {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 25px;
  padding: 20px 0 0 50px;
  font-weight: bold;
  color: #fff;
}
.how-to .join-collaborate a.btn.btn-default {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  border: 0;
  border-radius: 0;
  background: #dd5b48;
  float: right;
  margin: 30px auto;
  padding: 20px 40px;
  box-shadow: 4px 4px 0 #2b6e60;
}
.the-api h2 {
  font-family: 'Dosis', sans-serif;
  text-align: left;
  font-size: 35px;
  color: #3e9e89;
}
.the-api h3 {
  font-size: 22px;
}
.the-api p.intro {
  font-size: 20px;
}
.the-api .api-docs {
  background: #b3dfe6;
  min-height: 400px;
  margin: 50px 0 0 0;
  padding: 30px 0;
}
.the-api .api-docs .row .col.nav .inner {
  background: #ecfdff;
  box-shadow: 4px 4px 0 #9bcdda;
  padding: 20px;
}
.the-api .api-docs .row .col.nav .inner ul {
  padding: 0;
}
.the-api .api-docs .row .col.nav .inner ul li {
  list-style: none;
}
.the-api .api-docs .row .col.nav .inner ul li a {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  display: block;
  font-size: 14px;
  padding: 5px 5px;
  color: #e05c48;
  text-decoration: underline;
}
.the-api .api-docs .row .col.nav .inner ul li.active a {
  color: #fff;
  background: #e05c48;
  text-decoration: none;
}
.the-api .api-docs .row .col.nav .inner h4 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-size: 16px;
  color: #243032;
  margin: 25px 0 10px 5px;
}
.the-api .api-docs .row .col.content .inner {
  min-height: 600px;
  background: #fff;
  padding-bottom: 30px;
  box-shadow: 4px 4px 0 #9bcdda;
}
.the-api .api-docs .row .col.content .inner h1,
.the-api .api-docs .row .col.content .inner h2,
.the-api .api-docs .row .col.content .inner h3 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  color: #4ca790;
  font-weight: bold;
}
.the-api .api-docs .row .col.content .inner h1 {
  font-size: 25px;
  padding: 30px 30px 10px 30px;
}
.the-api .api-docs .row .col.content .inner h2 {
  font-size: 20px;
  padding: 20px 30px 0px 30px;
}
.the-api .api-docs .row .col.content .inner h3 {
  font-size: 14px;
  text-transform: uppercase;
  color: #243032;
  padding: 10px 30px 0px 30px;
}
.the-api .api-docs .row .col.content .inner p {
  padding: 10px 30px;
  font-size: 16px;
}
.the-api .api-docs .row .col.content .inner pre {
  border: 0;
  border-radius: 0;
  background: #f2f2f2;
  padding: 20px 30px;
}
.raw-data-template h2 {
  font-family: 'Dosis', sans-serif;
  color: #3e9e89;
  text-align: left;
  font-size: 42px;
  margin-top: 60px;
}
.raw-data-template h3 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
}
.raw-data-template table.downloads {
  width: 100%;
}
.raw-data-template table.downloads thead th {
  font-size: 14px;
}
.raw-data-template table.downloads tr td,
.raw-data-template table.downloads tr th {
  min-height: 56px;
  padding: 8px 15px;
}
.raw-data-template table.downloads tbody tr {
  background: #c3e6ec;
}
.raw-data-template table.downloads tbody tr:nth-child(odd) {
  background: #c3e6ec;
}
.raw-data-template table.downloads tbody tr:nth-child(even) {
  background: #ecfdff;
}
.raw-data-template table.downloads tbody tr td {
  font-size: 18px;
}
.raw-data-template table.downloads tbody tr td.name {
  font-weight: bold;
  width: 55%;
}
.raw-data-template table.downloads tbody tr td.format {
  width: 15%;
}
.raw-data-template table.downloads tbody tr td.size {
  width: 15%;
}
.raw-data-template table.downloads tbody tr td.download {
  width: 15%;
  padding-top: 10px;
  text-align: right;
}
.raw-data-template table.downloads tbody tr td.download img {
  width: 25px;
  height: 26px;
  margin-top: -2px;
}
.raw-data-template table.downloads tbody tr td.download a {
  font-weight: bold;
  color: #e05c48;
  text-decoration: underline;
  padding: 2px;
  margin-left: 5px;
}
.raw-data-template .rights-statement {
  margin: 60px 0 20px 0;
  font-size: 18px;
}
.raw-data-template .rights-statement h4 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
}
.raw-data-template .rights-statement a {
  color: #e05c48;
  text-decoration: underline;
}
.resources-template h2 {
  font-family: 'Dosis', sans-serif;
  color: #3e9e89;
  text-align: left;
  font-size: 42px;
  margin-top: 20px;
}
.resources-template h3 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
}
.resources-template ul.resources li {
  padding-left: 20px;
  padding-bottom: 10px;
}
.resources-template ul.resources li a {
  color: #e05c48;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}
.resources-template ul.resources li p {
  font-size: 18px;
}
.homepage-boxes {
  margin-bottom: 30px;
  margin-top: 20px;
}
.homepage-boxes a.homepage-box {
  padding: 10px;
}
.homepage-boxes a.homepage-box:hover {
  text-decoration: none;
}
.homepage-boxes a.homepage-box .inner {
  background: #ecfdff;
  min-height: 220px;
  box-shadow: 5px 5px #58acbe;
  text-decoration: none;
  margin: 0 10px 30px 10px;
}
.homepage-boxes a.homepage-box .inner .icon {
  width: 83px;
  height: 83px;
  background: red;
  margin: 0 auto 0 auto;
  position: relative;
  top: -30px;
}
.homepage-boxes a.homepage-box .inner .icon.chat {
  background: url(/assets/images/circle-chat.png) no-repeat center center;
}
.homepage-boxes a.homepage-box .inner .icon.lightbulb {
  background: url(/assets/images/circle-lightbulb.png) no-repeat center center;
}
.homepage-boxes a.homepage-box .inner .icon.chart {
  background: url(/assets/images/circle-graph.png) no-repeat center center;
}
.homepage-boxes a.homepage-box .inner h3 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #e05c48;
  text-decoration: underline;
  text-align: center;
  font-size: 14px;
  margin-top: -10px;
  text-transform: uppercase;
}
.homepage-boxes a.homepage-box .inner p {
  font-family: 'Dosis', sans-serif;
  color: #272727;
  padding: 10px 20px;
  text-align: center;
  font-size: 19px;
  font-weight: 300;
}
.homepage-boxes a.homepage-box:last-child .inner {
  margin-bottom: -30px;
}
.block.homepage-challenge-block {
  background: url(/assets/images/graph.png) center 55px no-repeat #65bbc8;
  padding-top: 50px;
  background-size: 300px;
}
.block.homepage-challenge-block .container h1 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #076d7c;
  margin: 0 0 0 0;
  text-shadow: 3px 3px 0 #62a8b1;
  padding-top: 5px;
  font-size: 23px;
  line-height: 120%;
}
.block.homepage-challenge-block .container h1 span.dotted-line {
  display: block;
}
.block.homepage-challenge-block .container h1 span.highlight {
  background: white;
  text-shadow: 3px 3px 0 #f8e5e2;
  color: #e2604d;
}
.block.homepage-challenge-block .container h1 span.highlight span.topleft {
  background: url(/assets/images/dot.png) top left no-repeat;
}
.block.homepage-challenge-block .container h1 span.highlight span.topleft span.topright {
  background: url(/assets/images/dot.png) top right no-repeat;
}
.block.homepage-challenge-block .container h1 span.highlight span.topleft span.topright span.bottomleft {
  background: url(/assets/images/dot.png) bottom left no-repeat;
}
.block.homepage-challenge-block .container h1 span.highlight span.topleft span.topright span.bottomleft span.bottomright {
  background: url(/assets/images/dot.png) bottom right no-repeat;
}
.block.homepage-challenge-block .container h1 span.highlight span.topleft span.topright span.bottomleft span.bottomright span.inner {
  padding: 2px 5px;
}
.block.homepage-challenge-block .container h2 {
  font-family: 'Dosis', sans-serif;
  color: #fff;
  text-align: center;
  font-weight: 100;
  width: 100%;
  font-size: 20px;
  margin: 20px 0 0 0;
}
@media (min-width: 400px) {
  .block.homepage-challenge-block {
    background-size: 400px;
  }
  .block.homepage-challenge-block .container h1 {
    padding-top: 5px;
    font-size: 30px;
    line-height: 120%;
  }
  .block.homepage-challenge-block .container h2 {
    font-size: 20px;
    width: 80%;
    margin: 40px auto;
  }
}
@media (min-width: 500px) {
  .block.homepage-challenge-block {
    background-size: 500px;
  }
  .block.homepage-challenge-block .container h1 {
    padding-top: 5px;
    font-size: 37px;
    line-height: 120%;
  }
  .block.homepage-challenge-block .container h1 .inner {
    padding: 2px 13px;
  }
  .block.homepage-challenge-block .container h2 {
    font-size: 26px;
    width: 80%;
    margin: 40px auto;
  }
}
@media (min-width: 768px) {
  .block.homepage-challenge-block {
    background-size: 768px;
  }
  .block.homepage-challenge-block .container h1 {
    font-size: 57px;
  }
  .block.homepage-challenge-block .container h1 span.highlight .inner {
    padding: 2px 10px;
  }
  .block.homepage-challenge-block .container h2 {
    font-size: 30px;
    width: 80%;
    margin: 40px auto;
  }
}
@media (min-width: 992px) {
  .block.homepage-challenge-block {
    background-size: 992px;
  }
  .block.homepage-challenge-block .container h1 {
    font-size: 65px;
    line-height: 135%;
  }
  .block.homepage-challenge-block .container h1 span.highlight .inner {
    padding: 2px 15px 2px 10px !important;
  }
  .block.homepage-challenge-block .container h2 {
    font-size: 30px;
    width: 65%;
    margin: 40px auto;
  }
}
@media (min-width: 1200px) {
  .block.homepage-challenge-block .container h1 {
    font-size: 65px;
  }
  .block.homepage-challenge-block .container h1 span.highlight .inner {
    padding: 2px 15px 2px 10px !important;
  }
}
.block.homepage-whowhathow-block {
  background: #399e85;
  min-height: 369px;
}
.block.homepage-whowhathow-block h2 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 4px 4px 0 #32917e;
  margin: 40px 0 0 0;
  font-size: 40px;
}
.block.homepage-whowhathow-block h3 {
  font-family: 'Dosis', sans-serif;
  color: #fff;
  font-weight: 200;
  font-size: 36px;
  margin-top: 50px;
  padding-left: 120px;
}
.block.homepage-whowhathow-block p {
  padding-left: 120px;
  min-height: 128px;
  color: #0b3129;
  font-size: 16px;
}
.block.homepage-whowhathow-block .column {
  margin-bottom: 50px;
}
.block.homepage-whowhathow-block .column.who p {
  background: url(/assets/images/uk.png) no-repeat 0px 0px;
}
.block.homepage-whowhathow-block .column.what p {
  background: url(/assets/images/graph-icon.png) no-repeat 0px 10px;
}
.block.homepage-whowhathow-block .column.how p {
  background: url(/assets/images/arrows.png) no-repeat 0px 0px;
}
.block.homepage-latest-block {
  background: #f8e29f;
  padding-bottom: 40px;
}
.block.homepage-latest-block h2 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-transform: uppercase;
  color: #e05c48;
  text-shadow: 4px 4px 0 #f4cd8e;
  margin: 40px 0 0 0;
  font-size: 40px;
}
.block.homepage-latest-block h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  font-weight: 200;
}
.block.homepage-latest-block .twitter-inner,
.block.homepage-latest-block .lanyrd-inner {
  background: #faecbf;
  height: 300px;
  overflow: auto;
  padding: 10px;
}
.github-activity {
  background: url(/assets/images/fork.png) no-repeat 15px 85px;
}
.github-activity ul#github-activity {
  background: #faecbf;
  margin-left: 30px;
  padding: 10px;
  height: 300px;
  overflow: auto;
}
.github-activity ul#github-activity a {
  color: #e05c48;
  font-weight: bold;
}
.github-activity ul#github-activity > li {
  list-style: none;
  padding: 0 10px;
  margin-bottom: 5px;
}
.github-activity ul#github-activity > li ul.commits {
  padding: 0 0 0 0;
}
.github-activity ul#github-activity > li ul.commits li {
  padding: 0 0 0 5px;
}
.github-activity ul#github-activity > li ul.commits li span.commit {
  display: block;
  float: left;
}
.github-activity ul#github-activity > li ul.commits li span.commit a {
  color: #999;
  font-weight: normal;
}
.github-activity ul#github-activity > li ul.commits li span.message {
  display: block;
  margin-left: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 10px 3px 0;
}
.github-activity ul#github-activity > li ul.commits li span.message a {
  font-weight: normal;
  color: #000;
}
.block {
  min-height: 400px;
}
.howto-template .case-studies-column h2,
.howto-template .how-tos-column h2 {
  font-family: 'Dosis', sans-serif;
  text-align: left;
  font-size: 40px;
}
.howto-template .case-studies-column {
  padding-top: 30px;
}
.howto-template .case-studies-column h2 {
  color: #e05c48;
  margin-bottom: 50px;
}
.howto-template .case-studies-column a.case-study {
  display: block;
  margin-bottom: 30px;
}
.howto-template .case-studies-column a.case-study img {
  float: left;
  max-width: 160px;
  max-height: 160px;
  box-shadow: 5px 5px 0 #ddeaf2;
}
.howto-template .case-studies-column a.case-study .article {
  padding-left: 160px;
  margin-top: -185px;
}
.howto-template .case-studies-column a.case-study .article .article-title {
  color: #e05c48;
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  padding: 40px 0 5px 0;
}
.howto-template .case-studies-column a.case-study .article .organisation {
  color: #373737;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 10px;
}
.howto-template .case-studies-column a.case-study .article .description {
  color: #252525;
}
.howto-template .how-tos-column h2 {
  color: #3e9e89;
  margin-bottom: 50px;
}
.howto-template .how-tos-column ul.how-tos-list {
  padding: 0;
}
.howto-template .how-tos-column ul.how-tos-list li.how-to-item {
  list-style: none;
  margin: 0 0 20px 0;
}
.howto-template .how-tos-column ul.how-tos-list li.how-to-item a {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  display: block;
  padding: 15px;
  background: #3e9e89;
  box-shadow: 4px 4px 0 #e2f1ed;
  color: #fff;
}
.howto-template .how-tos-column ul.how-tos-list li.how-to-item a span {
  display: block;
  text-transform: uppercase;
  color: #d4f3ec;
}
.howto-template .how-tos-column ul.how-tos-list li.how-to-item a strong {
  display: block;
  font-weight: bold;
  font-size: 18px;
  padding-top: 5px;
}
@media (max-width: 700px) {
  .howto-template .case-studies-column {
    padding-top: 0px;
  }
  .howto-template .case-studies-column a.case-study img {
    max-width: 80px;
    max-height: 80px;
  }
  .howto-template .case-studies-column a.case-study .article {
    padding-left: 100px;
    margin-top: -128px;
  }
}
