@import "vendor/bootstrap.min.css";
.font-dosis {
  font-family: 'Dosis', sans-serif;
}
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.font-sourcesans {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #fff;
}
nav.navbar.navbar-default {
  margin: 0;
  background: #fff;
  border: 0;
  border-radius: 0;
}
nav.navbar.navbar-default .nav.navbar-nav.navbar-right li a {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #e15c48;
  padding-top: 22px;
  font-size: 13px;
  text-decoration: underline;
}
nav.navbar.navbar-default .nav.navbar-nav.navbar-right li a:hover {
  color: #a82e1b;
  text-decoration: none;
}
nav.navbar.navbar-default .navbar-brand {
  width: 200px;
  padding: 8px 0 0 10px;
}
nav.navbar.navbar-default .navbar-brand img {
  width: 100%;
}
@media (min-width: 768px) {
  .navbar-brand {
    width: 250px !important;
    margin-top: 0px;
  }
  nav.navbar.navbar-default .nav.navbar-nav.navbar-right li a {
    font-size: 12px;
    padding-top: 19px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 992px) {
  .navbar-brand {
    width: 364px !important;
    margin-top: -5px;
  }
  nav.navbar.navbar-default .nav.navbar-nav.navbar-right li a {
    font-size: 14px;
    padding-top: 24px;
  }
}
@media (min-width: 1200px) {
  .navbar-brand {
    width: 364px !important;
    margin-top: -5px;
  }
  nav.navbar.navbar-default .nav.navbar-nav.navbar-right li a {
    font-size: 16px;
  }
}
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -174px;
  /* Pad bottom by footer height */
  padding: 0 0 174px;
}
/* Set the fixed height of the footer here */
#footer {
  height: 174px;
  background-color: #fff;
}
#footer .container {
  padding: 25px 0 0 0;
}
#footer .container a {
  margin-right: 5px;
}
#footer-gradient {
  background: url(/assets/images/grad-bottom.png) bottom center repeat-x;
  height: 74px;
}
.homepage-boxes {
  margin-bottom: 30px;
  margin-top: 20px;
}
.homepage-boxes .homepage-box {
  padding: 10px;
}
.homepage-boxes .homepage-box .inner {
  background: #ecfdff;
  min-height: 200px;
  box-shadow: 5px 5px #58acbe;
  text-decoration: none;
}
.homepage-boxes .homepage-box .inner .icon {
  width: 83px;
  height: 83px;
  background: red;
  margin: 0 auto 0 auto;
  position: relative;
  top: -30px;
}
.homepage-boxes .homepage-box .inner .icon.chat {
  background: url(/assets/images/circle-chat.png) no-repeat center center;
}
.homepage-boxes .homepage-box .inner .icon.lightbulb {
  background: url(/assets/images/circle-lightbulb.png) no-repeat center center;
}
.homepage-boxes .homepage-box .inner .icon.chart {
  background: url(/assets/images/circle-graph.png) no-repeat center center;
}
.homepage-boxes .homepage-box .inner h3 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #e05c48;
  text-decoration: underline;
  text-align: center;
  font-size: 14px;
  margin-top: -10px;
  text-transform: uppercase;
}
.homepage-boxes .homepage-box .inner p {
  font-family: 'Dosis', sans-serif;
  color: #272727;
  padding: 10px;
  text-align: center;
}
.block.homepage-challenge-block {
  background: url(/assets/images/graph.png) center 55px no-repeat #65bbc8;
  padding-top: 50px;
  background-size: 300px;
}
.block.homepage-challenge-block .container h1 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #076d7c;
  margin: 0 0 0 0;
  text-shadow: 3px 3px 0 #62a8b1;
  padding-top: 5px;
  font-size: 23px;
  line-height: 120%;
}
.block.homepage-challenge-block .container h1 span.dotted-line {
  display: block;
}
.block.homepage-challenge-block .container h1 span.highlight {
  background: white;
  padding: 2px;
  text-shadow: 3px 3px 0 #f8e5e2;
  color: #e2604d;
}
.block.homepage-challenge-block .container h2 {
  font-family: 'Dosis', sans-serif;
  color: #fff;
  text-align: center;
  font-weight: 100;
  width: 100%;
  font-size: 20px;
  margin: 20px 0 0 0;
}
@media (min-width: 400px) {
  .block.homepage-challenge-block {
    background-size: 400px;
  }
  .block.homepage-challenge-block .container h1 {
    padding-top: 5px;
    font-size: 30px;
    line-height: 120%;
  }
  .block.homepage-challenge-block .container h2 {
    font-size: 20px;
    width: 80%;
    margin: 40px auto;
  }
}
@media (min-width: 500px) {
  .block.homepage-challenge-block {
    background-size: 500px;
  }
  .block.homepage-challenge-block .container h1 {
    padding-top: 5px;
    font-size: 37px;
    line-height: 120%;
  }
  .block.homepage-challenge-block .container h2 {
    font-size: 26px;
    width: 80%;
    margin: 40px auto;
  }
}
@media (min-width: 768px) {
  .block.homepage-challenge-block {
    background-size: 768px;
  }
  .block.homepage-challenge-block .container h1 {
    font-size: 57px;
  }
  .block.homepage-challenge-block .container h1 span.highlight {
    padding: 2px 10px;
  }
  .block.homepage-challenge-block .container h2 {
    font-size: 30px;
    width: 80%;
    margin: 40px auto;
  }
}
@media (min-width: 992px) {
  .block.homepage-challenge-block {
    background-size: 992px;
  }
  .block.homepage-challenge-block .container h1 {
    font-size: 65px;
    line-height: 135%;
  }
  .block.homepage-challenge-block .container h2 {
    font-size: 30px;
    width: 65%;
    margin: 40px auto;
  }
}
@media (min-width: 1200px) {
  .block.homepage-challenge-block .container h1 {
    font-size: 65px;
  }
}
.block.homepage-whowhathow-block {
  background: #399e85;
  min-height: 369px;
}
.block.homepage-whowhathow-block h2 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 4px 4px 0 #32917e;
  margin: 40px 0 0 0;
}
.block.homepage-whowhathow-block h3 {
  font-family: 'Dosis', sans-serif;
  color: #fff;
  font-weight: 200;
  font-size: 30px;
  margin-top: 50px;
  padding-left: 120px;
}
.block.homepage-whowhathow-block p {
  padding-left: 120px;
  min-height: 128px;
  color: #0b3129;
  font-size: 14px;
}
.block.homepage-whowhathow-block .column {
  margin-bottom: 50px;
}
.block.homepage-whowhathow-block .column.who p {
  background: url(/assets/images/uk.png) no-repeat 0px 0px;
}
.block.homepage-whowhathow-block .column.what p {
  background: url(/assets/images/graph-icon.png) no-repeat 0px 10px;
}
.block.homepage-whowhathow-block .column.how p {
  background: url(/assets/images/arrows.png) no-repeat 0px 0px;
}
.block.homepage-latest-block {
  background: #f8e29f;
}
.block.homepage-latest-block h2 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-transform: uppercase;
  color: #e05c48;
  text-shadow: 4px 4px 0 #f4cd8e;
  margin: 40px 0 0 0;
}
.block.homepage-latest-block h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 35px;
  font-weight: 200;
}
.github-activity {
  background: url(/assets/images/fork.png) no-repeat 15px 85px;
}
.github-activity ul#github-activity {
  background: #faecbf;
  margin-left: 30px;
  padding: 0;
}
.github-activity ul#github-activity li {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  list-style: none;
  padding: 10px;
}
.block {
  min-height: 400px;
}
.subpage-layout {
  background: url(/assets/images/grad-top.png) repeat-x #ffffff;
  min-height: 148px;
}
.subpage-layout .title {
  text-align: center;
  padding: 50px 0 20px 0;
}
.subpage-layout .title h1 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  display: block;
  color: #076d7c;
  text-transform: uppercase;
  font-size: 25px;
  margin: 30px 0 -20px 0;
}
.subpage-layout h2 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  text-align: center;
}
.subpage-layout .subpage-boxes {
  padding-top: 30px;
}
.subpage-layout .subpage-boxes .box {
  padding: 15px;
}
.subpage-layout .subpage-boxes .box .inner {
  display: block;
  min-height: 220px;
  background: #ccc;
}
.subpage-layout .subpage-boxes .box .inner:hover {
  text-decoration: none;
}
.subpage-layout .subpage-boxes .box .inner p {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-size: 16px;
  width: 70%;
  margin: 0 auto 15px auto;
  color: #2a2a2a;
}
.subpage-layout .subpage-boxes .box .inner p.resource-text {
  width: 95%;
  font-size: 14px;
}
.subpage-layout .subpage-boxes .box .inner a.btn.btn-default {
  border: 0;
  border-radius: 0;
  padding: 10px 20px;
  width: 60%;
  margin: 5px auto 10px;
  display: block;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.subpage-layout .subpage-boxes .box .inner a.link {
  display: block;
  text-align: center;
  color: #eedfaf;
  text-decoration: underline;
  padding: 5px 0 15px 0;
  font-size: 12px;
}
.subpage-layout .subpage-boxes .box .inner a.link:hover {
  text-decoration: none;
}
.subpage-layout .subpage-boxes .box.google-groups .inner {
  background: #399e85;
  box-shadow: 5px 5px #e1f1ed;
}
.subpage-layout .subpage-boxes .box.google-groups .inner p {
  color: #fff;
}
.subpage-layout .subpage-boxes .box.google-groups .inner .image {
  background: url(/assets/images/getinvolved-googlegroups.png) center center no-repeat;
  height: 38px;
  padding: 20px 0 50px 0;
}
.subpage-layout .subpage-boxes .box.google-groups .inner a.btn.btn-default {
  background: #f0c84b;
  color: #399e85;
  box-shadow: 5px 5px 0 #5daf9b;
}
.subpage-layout .subpage-boxes .box.google-plus .inner {
  background: #f8e29f;
  box-shadow: 5px 5px #fae7e4;
}
.subpage-layout .subpage-boxes .box.google-plus .inner .image {
  background: url(/assets/images/getinvolved-googleplus.png) center center no-repeat;
  height: 35px;
  padding: 20px 0 50px 0;
}
.subpage-layout .subpage-boxes .box.google-plus .inner a.btn.btn-default {
  background: #e05c4a;
  color: #fff;
  box-shadow: 5px 5px 0 #f0b381;
}
.subpage-layout .subpage-boxes .box.twitter .inner {
  background: #65bbc8;
  box-shadow: 5px 5px #e8f5f7;
}
.subpage-layout .subpage-boxes .box.twitter .inner .image {
  background: url(/assets/images/getinvolved-twitter.png) center center no-repeat;
  height: 67px;
  position: relative;
  top: -20px;
}
.subpage-layout .subpage-boxes .box.twitter .inner a.btn.btn-default {
  background: #308592;
  color: #fff;
  box-shadow: 5px 5px 0 #5bb1be;
}
.subpage-layout .subpage-boxes .box.resources .inner {
  background: #e15b49;
  box-shadow: 5px 5px #f9dedb;
}
.subpage-layout .subpage-boxes .box.resources .inner .image {
  background: url(/assets/images/circle-graph.png) center center no-repeat;
  height: 90px;
  position: relative;
  top: -20px;
}
.subpage-layout .subpage-boxes .box.resources .inner h3 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin-top: -5px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  color: #334e5c;
}
.subpage-layout .subpage-boxes .box.resources .inner a.btn.btn-default {
  background: #308592;
  color: #fff;
  box-shadow: 5px 5px 0 #5bb1be;
}
.subpage-layout .subpage-boxes .box.raw-data .inner {
  background: #f0c84b;
  box-shadow: 5px 5px #fcf4db;
}
.subpage-layout .subpage-boxes .box.raw-data .inner .image {
  background: url(/assets/images/circle-script.png) center center no-repeat;
  height: 90px;
  position: relative;
  top: -20px;
}
.subpage-layout .subpage-boxes .box.raw-data .inner h3 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin-top: -5px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  color: #334e5c;
}
.subpage-layout .subpage-boxes .box.raw-data .inner a.btn.btn-default {
  background: #308592;
  color: #fff;
  box-shadow: 5px 5px 0 #5bb1be;
}
.subpage-layout .subpage-boxes .box.api .inner {
  background: #6b9bb3;
  box-shadow: 5px 5px #e1ebf0;
}
.subpage-layout .subpage-boxes .box.api .inner .image {
  background: url(/assets/images/circle-browser.png) center center no-repeat;
  height: 90px;
  position: relative;
  top: -20px;
}
.subpage-layout .subpage-boxes .box.api .inner h3 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin-top: -5px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  color: #334e5c;
}
.subpage-layout .subpage-boxes .box.api .inner a.btn.btn-default {
  background: #308592;
  color: #fff;
  box-shadow: 5px 5px 0 #5bb1be;
}
.subpage-layout .contact-the-team h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}
.subpage-layout .contact-the-team p {
  font-size: 16px;
}
.subpage-layout .contact-the-team p.email {
  font-size: 15px;
  font-weight: bold;
  word-wrap: break-word;
}
.subpage-layout .contact-the-team p.email a {
  color: #e05c4a;
}
@media (min-width: 700px) {
  .subpage-layout .title {
    text-align: left;
  }
  .subpage-layout .title .icon {
    float: left;
  }
  .subpage-layout .title h1 {
    float: left;
    margin: 25px 0 0 20px;
  }
  .subpage-layout .contact-the-team p.email {
    font-size: 22px;
  }
}
