.the-api {
  h2 {
    font-family: 'Dosis', sans-serif;
    text-align: left;
    font-size: 35px;
    color: #3e9e89;
  }
  
  h3 {
    font-size: 22px;
  }
  
  p.intro {
    font-size: 20px;
  }
  
  .api-docs {
    background: #b3dfe6;
    min-height: 400px;
    margin: 50px 0 0 0;
    padding: 30px 0;
    
    .row {
      .col {
        .inner {
          
        }
        
        &.nav {
          .inner {
            height: 400px;
            background: #ecfdff;
            box-shadow: 4px 4px 0 #9bcdda;
          }
        }
        
        &.content {
          .inner {
            height: 600px;
            background: #fff;
          }
        }
      }
    }
  }
}
