.subpage-layout {
  background: url(/assets/images/grad-top.png) repeat-x #fff;
  min-height: 74px * 2;
  
  .title {
    text-align: center;
    padding: 50px 0 20px 0;
    
    .icon {
    }
    
    h1 {
      .font-montserrat();
      display: block;
      color: #076d7c;
      text-transform: uppercase;
      font-size: 25px;
      margin: 30px 0 -20px 0;
    }
  }
  
  h2 {
    .font-montserrat();
    font-size: 20px;
    text-align: center;
  }
  
  @import "subpage/subpage-boxes";
  @import "subpage/contact-team";
}

@media (min-width: 700px) {
  .subpage-layout {
    .title {
      text-align: left;
      
      .icon {
        float: left;
      }
      
      h1 {
        float: left;
        margin: 25px 0 0 20px;
      }
    }
    
    .contact-the-team p.email {
      font-size: 22px;
    }
  }
}
