---
layout: default
html_class: showheader
title: API - The Open Health Data Platform
page_title: The API
icon: circle-script.png
---

<div class="the-api">
  <div class="subpage-layout">
    <div class="container">
      <div class="title clearfix">
        <img src="/assets/images/{{ page.icon }}" class="icon" alt="">
        
        <h1>{{ page.page_title }}</h1>
      </div>
      
      <h2>Access the open health data platform API</h2>
      <h3>Intro opening paragraph.</h3>
      
      <p class="intro">
        Donec in mattis massa, id ultrices mi. Nunc tortor
        diam, accumsan quis dui eget, fermentum adipiscing
        felis. In hac habitasse platea dictumst.
      </p>
    </div>
  </div>
  
  <div class="api-docs">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col nav">
          <div class="inner">
            <ul>
              {% for p in site.pages %}
                {% if p.layout == "api" %}
                  <li>
                    <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
                      {{ p.title }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
            
            <!-- <ul class="api-nav">
              <li><a href="#">Introduction</a></li>
              <li><a href="#">Authentication</a></li>
              <li><a href="#">Errors</a></li>
              <li><a href="#">Versioning</a></li>
              <li><a href="#">Rights of Use</a></li>
            </ul>
            
            <h4>API Endpoints</h4>
            <ul class="api-nav">
              <li><a href="#">Clinical Commissioning Groups</a></li>
              <li><a href="#">GP Surgeries</a></li>
              <li><a href="#">Patients</a></li>
              <li><a href="#">Trusts</a></li>
              <li><a href="#">Council Boundaries</a></li>
              <li><a href="#">Ethnicities</a></li>
              <li><a href="#">Medical Conditions</a></li>
              <li><a href="#">Drug Names</a></li>
              <li><a href="#">Drug Classes</a></li>
            </ul> -->
          </div>
        </div>
        
        <div class="col-sm-9 col content">
          <div class="inner">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
