---
layout: default
code_highlight: true
html_class: showheader
title: API - The Open Health Data Platform
page_title: The API
icon: circle-graph.png
---

<div class="the-api">
  <div class="subpage-layout">
    <div class="container">
      <div class="title clearfix">
        <img src="/assets/images/{{ page.icon }}" class="icon" alt="">
        
        <h1>{{ page.page_title }}</h1>
      </div>
      
      <h2>Access the open health data platform API</h2>
      <h3>Intro opening paragraph.</h3>
      
      <p class="intro">
        Donec in mattis massa, id ultrices mi. Nunc tortor
        diam, accumsan quis dui eget, fermentum adipiscing
        felis. In hac habitasse platea dictumst.
      </p>
    </div>
  </div>
  
  <div class="api-docs">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col nav">
          <div class="inner">
            {% include api-navigation.html %}
          </div>
        </div>
        
        <div class="col-sm-9 col content">
          <div class="inner">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
