<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 {{ page.html_class }} lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 {{ page.html_class }} lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 {{ page.html_class }} lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10 {{ page.html_class }}" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js {{ page.html_class }}" lang="en"> <!--<![endif]-->
<html lang="en" class="{{ page.html_class }}">
  <head>
    <title>{{ page.title }}</title>
    {% include head_assets.html %}
  </head>
  
  <body>
    <div id="wrap">
      {% include navigation.html %}
      
      <div class="page-content">
        {{ content }}
      </div>
    </div>
    
    {% include footer.html %}
  </body>
</html>
