---
layout: default
---

<div class="block homepage-challenge-block">
  <div class="container">
    <h1>
      <span class="dotted-line"></span>
      The <span class="highlight">Open</span> Health
      <span class="dotted-line"></span>
      Data Challenge
      <span class="dotted-line"></span>
    </h1>
    
    <h2>
      We're challenging technologists, analysts, visualisers and businesses to show the world what can be done with open health data
    </h2>
  </div>
</div>

<div class="block homepage-whowhathow-block">
  <div class="container">
    
  </div>
</div>

<div class="block homepage-latest-block">
  <div class="container">
    
  </div>
</div>

