---
layout: default
---

<div class="block homepage-challenge-block">
  <div class="container">
    <h1>
      <span class="dotted-line"></span>
      The <span class="highlight">Open</span> Health
      <span class="dotted-line"></span>
      Data Challenge
      <span class="dotted-line"></span>
    </h1>
    
    <h2>
      We're challenging technologists, analysts, visualisers and businesses to show the world what can be done with open health data
    </h2>
    
    <div class="row homepage-boxes">
      <a class="col-sm-4 homepage-box" href="#">
        <div class="inner">
          <div class="icon lightbulb"></div>
          
          <h3>How Tos, Case Studies &amp; Tutorials</h3>
          
          <p>
            Find shining examples, case studies and tutorials of current and recently finished projects using the Open Health Data Platform.
          </p>
        </div>
      </a>
      
      <a class="col-sm-4 homepage-box" href="#">
        <div class="inner">
          <div class="icon chart"></div>
          
          <h3>Resources</h3>
          
          <p>
            Dive straight into the action. Get your hands on the raw data to develop with or find useful tools to help visualise data.
          </p>
        </div>
      </a>
      
      <a class="col-sm-4 homepage-box" href="#">
        <div class="inner">
          <div class="icon chat"></div>
          
          <h3>Get Involved</h3>
          
          <p>
            Join our growing community of developers, analysts, visualisers, and businesses with our email newlist.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="block homepage-whowhathow-block">
  <div class="container">
    <h2>Who, what, how?</h2>
    
    <div class="row whowhathow">
      <div class="col-sm-4 whowhathow-section who">
        <h3>Who?</h3>
        <p>
          The CDEC Open Health Data Platform has been developed by the Connected Digital Economy Catapult (CDEC) and Mastodon C to stimulate data science innovation in the UK.
        </p>
      </div>
      
      <div class="col-sm-4 whowhathow-section what">
        <h3>What?</h3>
        
        <p>
          The CDEC Open Health Data Platform has been developed by the Connected Digital Economy Catapult (CDEC) and Mastodon C to stimulate data science innovation in the UK.
        </p>
      </div>
      
      <div class="col-sm-4 whowhathow-section how">
        <h3>How?</h3>
        
        <p>
          The CDEC Open Health Data Platform has been developed by the Connected Digital Economy Catapult (CDEC) and Mastodon C to stimulate data science innovation in the UK.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="block homepage-latest-block">
  <div class="container">
    
  </div>
</div>

