---
layout: default
title: How To's - Open Health Data Platform
page_title: How To's
icon: circle-lightbulb.png
html_class: showheader
---

<div class="subpage-layout case-studies">
  {{ content }}
</div>

<div class="useful-links">
  <div class="container">
    <h2>Useful Links</h2>
    
    <div class="row useful-link-cols">
      <div class="col-sm-4 useful-link-col">
        <h3>Tools</h3>
        
        <ul>
          <li><span class="plus">+ </span><a href="http://d3js.org/">D3.js - A data visualisation library</a></li>
          <li><span class="plus">+ </span><a href="http://leafletjs.com/">Leaflet - An open-source map library</a></li>
          <li><span class="plus">+ </span><a href="http://colorbrewer2.org/">Color Brewer 2.0 - Colours for your maps &amp; graphs</a></li>
        </ul>
      </div>
      
      <div class="col-sm-4 useful-link-col">
        <h3>Examples</h3>
        
        <ul>
          <li><span class="plus">+ </span><a href="https://github.com/mbostock/d3/wiki/Gallery">D3 Github Gallery by Mike Bostock</a></li>
          <li><span class="plus">+ </span><a href="http://bl.ocks.org/mbostock">bl.ocks.org/mbostock - More D3 examples and demos</a></li>
        </ul>
      </div>
      
      <div class="col-sm-4 useful-link-col">
        <h3>Further Reading</h3>
        
        <ul>
          <li><span class="plus">+ </span><a href="http://chimera.labs.oreilly.com/books/1230000000345/index.html">Interactive Data Visualization for the Web by Scott Murray (free to read online)</a></li>
          <li><span class="plus">+ </span><a href="http://www.fivesimplesteps.com/products/a-practical-guide-to-designing-with-data">A Practical Guide to Designing with Data by Brian Suda</a></li>
          <li><span class="plus">+ </span><a href="https://leanpub.com/D3-Tips-and-Tricks">D3 Tips and Tricks by Malcolm Maclean (free, $0.99 suggested minimum)</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
