---
layout: subpage
title: How Tos and Case Studies - Open Health Data Platform
page_title: How Tos, Case Studies &amp; tutorials
icon: circle-lightbulb.png
---

<div class="row howto-template">
  <div class="col-sm-9 case-studies-column">
    <h2>Case studies &amp; tutorials</h2>
    
    {% for casestudy in page.casestudies %}
      <a class="case-study clearfix" href="{{ casestudy.url }}">
        <img src="{{ casestudy.image }}" alt="">
        
        <div class="article pull-right">
          <div class="article-title">{{ casestudy.title }}</div>
          <div class="organisation">{{ casestudy.organisation }}</div>
          <div class="description">
            {{ casestudy.description }}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  
  <div class="col-sm-3 how-tos-column">
    <h2>How Tos</h2>
    
    <ul class="how-tos-list">
      {% for howto in page.howtos %}
        <li class="how-to-item">
          <a href="{{ howto.url }}">
            <span>How To</span>
            <strong>{{ howto.title }}</strong>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
