---
layout: default
title: How Tos and Case Studies - Open Health Data Platform
page_title: How Tos &amp; Case Studies
icon: circle-lightbulb.png
---

<div class="subpage-layout case-studies">
  {{ content }}
  
  <div class="useful-links">
    <div class="container">
      <h2>Useful Links</h2>
      
      <div class="row useful-link-cols">
        <div class="col-sm-4 useful-link-col">
          <h3>Code</h3>
          
          <ul>
            <li>+ <a href="">Relevant code framework 01</a></li>
            <li>+ <a href="">Relevant code framework 02</a></li>
            <li>+ <a href="">Relevant code framework 03</a></li>
          </ul>
        </div>
        
        <div class="col-sm-4 useful-link-col">
          <h3>Tools</h3>
          
          <ul>
            <li>+ <a href="">Relevant code framework 01</a></li>
            <li>+ <a href="">Relevant code framework 02</a></li>
            <li>+ <a href="">Relevant code framework 03</a></li>
          </ul>
        </div>
        
        <div class="col-sm-4 useful-link-col">
          <h3>Futher Reading</h3>
          
          <ul>
            <li>+ <a href="">Relevant code framework 01</a></li>
            <li>+ <a href="">Relevant code framework 02</a></li>
            <li>+ <a href="">Relevant code framework 03</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
