---
layout: default
title: How To's - Open Health Data Platform
page_title: How To's
icon: circle-lightbulb.png
html_class: showheader
---

<div class="subpage-layout case-studies">
  {{ content }}
</div>

<div class="useful-links">
  <div class="container">
    <h2>Useful Links</h2>
    
    <div class="row useful-link-cols">
      <div class="col-sm-4 useful-link-col">
        <h3>Code</h3>
        
        <ul>
          <li><span class="plus">+ </span><a href="">Relevant code framework 01</a></li>
          <li><span class="plus">+ </span><a href="">Relevant code framework 02</a></li>
          <li><span class="plus">+ </span><a href="">Relevant code framework 03</a></li>
        </ul>
      </div>
      
      <div class="col-sm-4 useful-link-col">
        <h3>Tools</h3>
        
        <ul>
          <li><span class="plus">+ </span><a href="">Relevant code framework 01</a></li>
          <li><span class="plus">+ </span><a href="">Relevant code framework 02</a></li>
          <li><span class="plus">+ </span><a href="">Relevant code framework 03</a></li>
        </ul>
      </div>
      
      <div class="col-sm-4 useful-link-col">
        <h3>Further Reading</h3>
        
        <ul>
          <li><span class="plus">+ </span><a href="">Relevant code framework 01</a></li>
          <li><span class="plus">+ </span><a href="">Relevant code framework 02</a></li>
          <li><span class="plus">+ </span><a href="">Relevant code framework 03</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
