---
layout: subpage
title: How To's - Open Health Data Platform
page_title: How To's
icon: circle-lightbulb.png
---

<div class="howto-template">
  <div class="case-studies-column row">
    {% for casestudy in page.casestudies %}
      <a class="case-study col-sm-6 clearfix" href="{{ casestudy.url }}">
        <img src="{{ casestudy.image }}" alt="">
        
        <div class="article pull-right">
          <div class="article-title">{{ casestudy.title }}</div>
          <div class="organisation">{{ casestudy.organisation }}</div>
          <div class="description">
            {{ casestudy.description }}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
